body{
    background: rgb(250, 240, 244);
    margin: 0;
    padding: 0;
}

.divtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-left: 20%;
    padding-right: 45%;
}

.paragrafo2{
    background: rgb(255, 221, 236);
    padding: 8px;
    margin: 0;
    text-align: center;
}

.paragrafo2 h2{
    font-size: 18px ;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 36px;
    gap: 24px;
}

.card{
    background: rgb(252, 200, 221);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
    gap: 24px;
}

.div1{
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
}

.quadradinho{
    background-color: rgb(253, 244, 248);
    padding: 8px;}