body{
    background: hsl(196.58deg 50% 70.2%);
}
.paragrafo{
    background: #e9f1fa;
    border-radius: 10px;
    padding: 8px;
    font-size: 22px ;
}

.div1{
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
}

.quadradinho{
    background-color: rgb(192, 240, 220);
    padding: 8px;
    border-radius: 10px;
}